@model B4B.Models.WizardViewModel


@{
    ViewBag.Title = "Create";
}
<div class="row" style="margin-bottom: 40px;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 clearfix">
        <a href="@Url.Action("Index", "Home")" class="homeNavBrand">SQR<span id="homeNavBrand">.</span></a>
    </div> <!-- end Navbar Brand-->
</div>

<div class="container" id="wizForm">
    @using (Html.BeginForm("Create", "Profiles", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div id="rootwizard" class="clearfix">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container" id="wizNavContainer">
                            <ul id="wizNav">
                                <li><a href="#tab1" data-toggle="tab" style="color:#F7B733;">Step 1</a></li>
                                <li><a href="#tab2" data-toggle="tab" style="color:#F7B733;">Step 2</a></li>
                                <li><a href="#tab3" data-toggle="tab" style="color:#F7B733;">Step 3</a></li>
                            </ul>
                        </div> <!-- end container -->
                    </div> <!-- end navbar-inner -->
                </div> <!-- end navbar -->

                <div id="bar" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                </div> <!-- end progress bar -->

                <div class="tab-content clearfix">
                    <div class="tab-pane clearfix" id="tab1">
                        <div class="col-md-4 clearfix" id="wiz1left">
                            <div class="form-group" style="height: 100%" ;>
                                @Html.Label("Avatar", new { @class = "control-label col-md-12", style = "text-align: center; margin-top: 10px; color: #F7B733" })
                                <div class="image clearfix">
                                    <img src="http://www.lavacable.com/assets/images/Products/placeholder_product.jpg" class="object-fit_scale-down" id="createAvartar" width="200" height="200" />
                                </div>
                                <input type="file" name="upload" id="Avatar" />
                            </div> <!-- end Profile Picture -->
                        </div>

                        <div class="col-md-8 clearfix" id="wiz1right">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="requiredWizard" style="color: #F7B733;">Fields marked with an asterisk (*) are required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5" style="padding-right: 10px">
                                    @Html.EditorFor(model => model._profile.FirstName, new { htmlAttributes = new { @class = "form-control", style = "width: 95%", @placeholder = "First Name*", @id = "FirstName" } })
                                    @Html.ValidationMessageFor(model => model._profile.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6" style="padding-left: 0">
                                    @Html.EditorFor(model => model._profile.LastName, new { htmlAttributes = new { @class = "form-control", style = "width: 82%", @placeholder = "Last Name" } })
                                    @Html.ValidationMessageFor(model => model._profile.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div> <!-- end First Name & Last Name -->

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model._profile.StreetAdress, new { htmlAttributes = new { @class = "form-control", style = "max-width: 582px;", @placeholder = "Street Address" } })
                                    @Html.ValidationMessageFor(model => model._profile.StreetAdress, "", new { @class = "text-danger" })
                                </div>
                            </div> <!-- end Street Address -->

                            <div class="form-group">
                                <div class="col-md-4" style="padding-right: 0">
                                    @Html.EditorFor(model => model._profile.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                                    @Html.ValidationMessageFor(model => model._profile.City, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3" style="padding-right: 0">
                                    @Html.EditorFor(model => model._profile.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
                                    @Html.ValidationMessageFor(model => model._profile.State, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model._profile.ZipCode, new { htmlAttributes = new { @class = "form-control", style = "max-width: 140px;", @placeholder = "Zip Code" } })
                                    @Html.ValidationMessageFor(model => model._profile.ZipCode, "", new { @class = "text-danger" })
                                </div>
                            </div> <!-- end City -->

                        </div>

                    </div> <!-- end Form page 1 Basic Profile details -->

                    <div class="tab-pane" id="tab2">
                        <div class="form" style="margin-left: auto; margin-right: auto;">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                                    <p style="color: #F7B733;">Fields marked with an asterisk (*) are required</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    @Html.EditorFor(model => model._medicalInfo.MedicalCondition, new { htmlAttributes = new { @class = "createBox form-control", @placeholder = "Medical Condition" } })
                                    @Html.ValidationMessageFor(model => model._medicalInfo.MedicalCondition, "", new { @class = "text-danger" })
                                </div>
                            </div> <!-- end Medical Condition -->

                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    @Html.EditorFor(model => model._medicalInfo.Symptoms, new { htmlAttributes = new { @class = "createBox form-control", @placeholder = "Symptoms" } })
                                    @Html.ValidationMessageFor(model => model._medicalInfo.Symptoms, "", new { @class = "text-danger" })
                                </div>
                            </div> <!-- end Symptoms -->
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    @Html.EditorFor(model => model._medicalInfo.RelatedInformation, new { htmlAttributes = new { @class = "createBox form-control", @placeholder = "Related Information" } })
                                    @Html.ValidationMessageFor(model => model._medicalInfo.RelatedInformation, "", new { @class = "text-danger" })
                                </div>
                            </div> <!-- end Related Information -->
                        </div>
                    </div> <!-- end Form page 2 Medical Information -->

                    <div class="tab-pane" id="tab3">

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p style="color: #F7B733;">Fields marked with an asterisk (*) are required</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @Html.EditorFor(model => model._profile.EcontactName, new { htmlAttributes = new { @class = "createBox form-control", @placeholder = "Emergency Contact Name*", @id = "eName" } })
                                @Html.ValidationMessageFor(model => model._profile.EcontactName, "", new { @class = "text-danger" })
                            </div>
                        </div> <!-- end Emergency Name -->

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @Html.EditorFor(model => model._profile.EmergencyPhone, new { htmlAttributes = new { @class = "createBox form-control", @placeholder = "Emergency Contact Phone Number*", @id = "eContact" } })
                                @Html.ValidationMessageFor(model => model._profile.EmergencyPhone, "", new { @class = "text-danger" })
                            </div>
                        </div><!-- end Emergency Phone -->

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @Html.EditorFor(model => model._profile.SecondEcontactName, new { htmlAttributes = new { @class = "createBox form-control", @placeholder = "Emergency Contact Name" } })
                                @Html.ValidationMessageFor(model => model._profile.SecondEcontactName, "", new { @class = "text-danger" })
                            </div>
                        </div> <!-- end Second Emergency Name -->

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @Html.EditorFor(model => model._profile.SecondEmergencyPhone, new { htmlAttributes = new { @class = "createBox form-control", @placeholder = "Emergency Contact Phone Number" } })
                                @Html.ValidationMessageFor(model => model._profile.SecondEmergencyPhone, "", new { @class = "text-danger" })
                            </div>
                        </div> <!-- end SecondEmergency Phone -->

                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.CheckBoxFor(model => model._profile.disclaimer, new { htmlAttributes = new { @class = "createBox form-control", @style = "display: inline-block", @id = "disclaimerCheck", @name = "disclaimer" } })
                                <p style="color: #F7B733; display:inline-block">
                                    The content of this profile will not be private and confidential information once created. In no event shall Barcodes 4
                                    Babies be held liable for any improper or incorrect use of the information described and/or contained herein.
                                </p>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            </div>
                        </div>

                    </div> <!-- end Form page 3 Emergency Information -->

                    <div class="wizardFooter">
                        <ul class="pager wizard">
                            <li class="previous" style="display:none;"><a href="#">Previous</a></li>
                            <li class="next" style="margin-right: 20px;" id="submitWiz"><a href="#" id="submitWizText">Next</a></li>
                        </ul> <!-- end Wizard Footer Nav Buttons -->
                    </div> <!-- end Wizard Footer-->

                </div>   <!-- end tab-content -->
            </div>  <!-- end rootwizard -->
            <!-- Add create button to pager wizard -->
            @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>*@

        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.bootstrap.wizard.js");
    @Scripts.Render("~/Scripts/jquery.bootstrap.wizard.min.js");
    <script>
        $(document).ready(function () {
            $('#rootwizard').bootstrapWizard({
                onNext: function (tab, navigation, index) {
                    if (index == 1) {
                        // Make sure we entered the name
                        if (!$('#FirstName').val()) {
                            $('.requiredWizard').addClass("shake-constant");
                            $('#FirstName').css({ "border-color": "red", "background-color": "#F7B733" });
                            $('#FirstName').focus();
                            return false;
                        }
                    }

                    if (index == 3) {

                        if (!$('#eName').val() || !$('#eContact').val()) {
                            $('.requiredWizard').addClass("shake-constant");
                            $('#eName').css({ "border-color": "red", "background-color": "yellow" });
                            $('#eName').focus();
                            return false;
                        }
                        //if (!$('#eContact').val()) {
                        //    $('.requiredWizard').addClass("shake-constant");
                        //    $('#eContact').css({ "border-color": "red", "background-color": "yellow" });
                        //    $('#eContact').focus();
                        //    return false;
                        //}
                    }

                    // Set the name for the next tab
                    //$('#tab2').html('Hello, ' + $('#name').val());


                    if ($('#disclaimerCheck').attr('checked', true)) {
                        $('#submitWiz').removeClass("disabled");
                    }

                }, onTabShow: function (tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;
                    var $percent = ($current / $total) * 100;
                    $('#rootwizard .progress-bar').css({ width: $percent + '%' });

                    if (index == 2) {

                        $('#submitWiz').remove();
                        $(".wizardFooter ul").append('<li><input type="submit" value="Create" style="margin-right: 15px;" class="btn btn-default" /></li>');

                        if (!$('#eName').val()) {
                            $('.requiredWizard').addClass("shake-constant");
                            $('#eName').css({ "border-color": "red", "background-color": "yellow" });
                            $('#eName').focus();
                            return false;
                        }
                        if (!$('#eContact').val()) {
                            $('.requiredWizard').addClass("shake-constant");
                            $('#eContact').css({ "border-color": "red", "background-color": "yellow" });
                            $('#eContact').focus();
                            return false;
                        }
                    }
                }
            });
        });
    </script>
}
