@model B4B.Models.WizardViewModel

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>

    <h4>Profile</h4>
    <hr />*@



<div class="detailsphoto">
    <img src="~/File?id=@Model._profile.ProfileID" class="idpicsize img-responsive" />
    <div class="emergbtn">
    @Html.ActionLink("Emergency", "SendEmergencyText", "Profiles", new { id = Model._profile.ProfileID }, new { @class = "btn btn-primary btn-large emergbutton" })

    </div>
    </div>



            
        
        
 




    <dl class="infotable" class"col-md-6">
        @if (Model._profile.FirstName != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model._profile.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._profile.FirstName)
            </dd>
        }

        @if (Model._profile.LastName != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model._profile.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._profile.LastName)
            </dd>
        }

        @if (Model._profile.StreetAdress != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model._profile.StreetAdress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._profile.StreetAdress)
            </dd>
        }

        @if (Model._profile.City != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model._profile.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._profile.City)
            </dd>
        }

        @if (Model._profile.State != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model._profile.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._profile.State)
            </dd>
        }


        @if (Model._profile.ZipCode != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model._profile.ZipCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._profile.ZipCode)
            </dd>
        }

      @if (Model._medicalInfo.MedicalCondition != null)
      {

        <dt>
            @Html.DisplayNameFor(model => model._medicalInfo.MedicalCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._medicalInfo.MedicalCondition)
        </dd>

      }

        @if (Model._medicalInfo.Symptoms != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model._medicalInfo.Symptoms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._medicalInfo.Symptoms)
            </dd>
        }

        @if (Model._medicalInfo.RelatedInformation != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model._medicalInfo.RelatedInformation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._medicalInfo.RelatedInformation)
            </dd>
        }


            @if (Model._profile.EmergencyPhone == null)
            {
                @:No Emergency contact set
            }
            else
            {
                <dt>
                @Html.DisplayNameFor(modelItem => modelItem._profile.EcontactName)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => modelItem._profile.EcontactName)
                </dd>
            }
        
        <dt>
            @Html.DisplayNameFor(modelItem => modelItem._profile.EmergencyPhone)

        </dt>
        <dd>
            @if (Model._profile.EmergencyPhone == null)
            {
                @:No Emergency contact set
                       }
            else
            {
                @Html.DisplayFor(modelItem => modelItem._profile.EmergencyPhone)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => modelItem._profile.SecondEcontactName)

        </dt>
        <dd>
            @if (Model._profile.SecondEmergencyPhone == null)
            {
                @:No Emergency contact set
            }
            else
            {
                @Html.DisplayFor(modelItem => modelItem._profile.SecondEcontactName)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => modelItem._profile.SecondEmergencyPhone)

        </dt>
        <dd>
            @if (Model._profile.SecondEmergencyPhone == null)
            {
                @:No Emergency contact set
                       }
            else
            {
                @Html.DisplayFor(modelItem => modelItem._profile.SecondEmergencyPhone)
            }
        </dd>
    </dl>

@if (Model._profile.Admin == ViewBag.CurrentUser)
{ }



    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model._profile.ProfileID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>



