@model IEnumerable<B4B.Models.Profile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        
        <th>
            Emergency Name
        </th>
        <th>
            Emergency Number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.StreetAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        @*@foreach (var medInfo in item.MedicalInfos)
        {
            <td>
                @Html.DisplayFor(modelItem => item.MedicalInfos)
            </td>
         }*@


        <td>
            @Html.DisplayFor(modelItem => item.EcontactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyPhone)
        </td>
        <td>
            @Html.EnumDropDownListFor(model => item.backgroundColor)
            @Html.EnumDropDownListFor(model => item.forgroundColor)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProfileID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProfileID, medInfos = ViewBag.medInfo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProfileID }) |
            @Html.ActionLink("Emergency", "SendEmergencyText", "Profiles", new { id = item.ProfileID }, new { @class = "btn btn-primary btn-large" })
        </td>
    </tr>
}
    <tr>
        <td>
            <div>
                <div class="dashboard">
                    <button class="btn btn-primary" id="generateQr" onclick="getLocation()">Generate Qr Code</button>
                    <button class="btn btn-primary" id="generateQr" onclick="printpage()">Print Qr Code</button>
                    <div class="qrCodeTester pull-right target" id="target">
                        <img src="@Url.Action("myAction", "Profiles")" alt="qr code" id="testQrCode" />
                    </div>
                </div>

            </div>
        </td>
    </tr>
    
</table>



<script type="text/javascript">
    hide(document.querySelectorAll('.target'));

    function hide(elements) {
        elements = elements.length ? elements : [elements];
        for (var index = 0; index < elements.length; index++) {
            elements[index].style.display = 'none';
        }
    }
    function displayQr() {
        var element = document.getElementById('target'),
            style = window.getComputedStyle(element),
            display = style.getPropertyValue('display')

        if (display == "none") {
            show(document.querySelectorAll('.target'));

            function show(elements) {
                elements = elements.length ? elements : [elements];
                for (var index = 0; index < elements.length; index++) {
                    elements[index].style.display = 'block';
                }
            }
        } else {
            hide(document.querySelectorAll('.target'));
        }

    }

</script>
<script type="text/javascript">
    function printpage() {
        var getQrCode = document.getElementById('target');
        var MainWindow = window.open('', '', 'height=500, width=800');

        MainWindow.document.write('<html><head><title>Print Page</title>');
        MainWindow.document.write('</head><body>');
        MainWindow.document.write(getQrCode.innerHTML);
        MainWindow.document.write('</body></html>');
        MainWindow.document.close();
        setTimeout(function () {
            MainWindow.print();
        }, 500);
        return false;
    }
</script>
<script>
    //var x = document.getElementById("demo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        //x.innerHTML = "Latitude: " + position.coords.latitude +
        //"<br>Longitude: " + position.coords.longitude;

        //stores lat and long in array
        var coordinates = {
            "Latitude": position.coords.latitude,
            "Longitude": position.coords.longitude
        }

        // send the array to the controller
        $.ajax({
            url: '@Url.Action("getLocation", "Profiles")',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(coordinates),
            success: function (data) {
                alert(data);
            },
            failure: function (errMsg) {
                alert(errMsg);
            },
            async: true
        });
    }
    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }
</script>