@model B4B.Models.EmergencyContact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmergencyContact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmergencyContactID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
