@using B4B.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row" style="margin-bottom: 100px; background-color:#FC4A1A;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 clearfix">
        <a href="@Url.Action("Index","Home")" class="homeNavBrand">SQR<span id="homeNavBrand">.</span></a>
    </div> <!-- end Navbar Brand-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 clearfix" id="LoginNav" style="height: 114px;">
        <ul id="homeNavItems">
            <li class="lastItem"><a href="~/Account/Login">Login</a></li>
            <li><a href="Home/Contact">Contact</a></li>
            <li><a href="Home/About">Us</a></li>
        </ul>
    </div> <!-- end Navbar Items-->
</div> <!-- end NavBar-->



<div class="row">
    <div class="col-lg-3 col-md-3 "></div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="position: relative;">
        <div class="formPlate col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control loginBox0", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control loginBox", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @style = "float:none;" })
                            @Html.LabelFor(m => m.RememberMe, new { @style = "color:rgb(128, 128, 128);" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input id="submitLogin" type="submit" value="Log in" class="btn btn-default" style="width:280px; color: white;" />
                    </div>
                </div>
                <p style="color:rgb(128,128,128);">
                    Not Registered? <a href="Register" style="color:#F7B733;">Create an account</a>
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
            }
            @*<hr />*@
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 "></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}