@model IEnumerable<B4B.Models.MedicalInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profiles.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Symptoms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelatedInformation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profiles.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicalCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symptoms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedInformation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicalInfoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedicalInfoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedicalInfoID })
        </td>
    </tr>
}

</table>
